html, body {
    margin: 0;
    padding: 0;
    background-color: #1F2937;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

#userInput{
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: center;
}

input[type="color"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  margin-left: 10px;
  height: 45px;
  width: 60px;
  cursor: pointer;
  border: none;
  background: #1F2937;
}

input[type="color"]::-webkit-color-swatch {
  border-radius: 5px;
  border: none;
}
input[type="color"]::-moz-color-swatch {
  border-radius: 5px;
  border: none;
}

#colorScheme {
  border-radius: 5px;
  border: 1px solid #D1D5DB;
  background-color: inherit;
  font-family: inherit;
  font-size: inherit;
  padding: 8px;
  color: #D1D5DB;
  margin-left: 10px;
  cursor: pointer;
}

option {
  color: #D1D5DB;
  background-color: #1F2937;
}

#getColors {
  border-radius: 5px;
  border: none;
  background-color: #3D4B60;
  font-family: inherit;
  font-size: inherit;
  padding: 10px;
  color: #D1D5DB;
  margin-left: 10px;
  cursor: pointer;
}

#color-swatches-container {
  width: 98%;
  height: 75vh;
  display: grid;
  grid-auto-flow: column;
  grid-template-colums: repeat(5, 1fr);
  margin: 0 auto;
}

#color-code-container {
  width: 98%;
  height: 10vh;
  display: grid;
  grid-auto-flow: column;
  grid-template-colums: repeat(5, 1fr);
  grid-auto-columns: minmax(75px, auto);
  margin: 0 auto;
}

#hex-Value-Text {
  display: grid;
  align-items: center;
  justify-items: center;
  color: #D5D4D8;
}

#hex-Value-Text:hover {
  background-color: #D5D4D8;
  cursor: pointer;
  color: black;
}
